---
import { Image } from "astro:assets";

const { logo, dates, role, company, description } = Astro.props;
---

<div class="relative flex flex-col justify-start pl-12 bg-background">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-background w-14 h-14 border-slate-400 dark:border-slate-500"
  >
    <Image
      width={26}
      height={26}
      src={logo}
      alt={company}
      class="text-white"
      loading="lazy"
    />
  </div>

  <p class="text-xs uppercase dark:text-muted-foreground trackign-widest">
    {dates}
  </p>
  <h3 class="my-1 text-lg font-bold dark:text-slate-100">{role}</h3>
  <p class="mb-1 text-sm font-medium dark:text-slate-300">{company}</p>
  <p class="text-sm font-light text-muted-foreground">
    {description}
  </p>
</div>
